# Django
DJANGO_SETTINGS_MODULE=src.infrastructure.django_app.settings.development
DJANGO_SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
PORT=8181
CORS_ALLOWED_ORIGINS=http://localhost:8181,http://127.0.0.1:8181

# Database (PostgreSQL)
DB_NAME=pipeline_tracker
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
